.center {
    margin: auto;
    width: 80%;
    border: 3px solid #ffffff;
    border-radius: 10px;
    padding: 1px;

    @media (min-width: 620px){
      width: 60%;
    }

    @media (min-width: 1010px){
      width: 50%;
    }
  }

  #main{
      font-size: .9rem;
      padding-left: 1rem; 
      
      @media (min-width: 620px){
        font-size: 1.3rem;
      }
  
      @media (min-width: 1010px){
        font-size: 1.5rem;
      }
  }

  span{
    color: #00FF00; 
  }

#aboutModalBtn, #git{
  margin-left: -5%
}